.light {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
    border: 5px solid black;

    filter: grayscale(0.9);
    opacity: 90%;

}

.backgroundLights {
    width: 200px;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 80px solid black;
    position: relative;
}

.flexContainer  {
    display: flex;
    position: absolute;
    z-index: 0;
    top: 40%;
}

.triangle1 {
    clip-path: polygon(0% 53%, 0% 100%, 100% 100%, 100% -24%);
    border-radius: 19px;
    transform: rotate(37deg);
    margin-left: -21px;
    margin-top: -18px;
    height: 80px;
    width: 80px;

    background-color: gray;
}
.triangle2 {
    clip-path: polygon(0% 36%, 0% 100%, 100% 100%, 100% -12%);
    border-radius: 14px;
    transform: rotate(27deg);
    margin-left: 68px;
    margin-top: -18px;
    height: 110px;
    width: 110px;
    background-color: gray;
}

.lightsContainer {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #182b41;
    padding: 20px;
    border-radius: 16px;

    position: relative;
    z-index: 10;
}

.red {
    background-color: red;
    box-shadow: 0px 0px 98px 10px red;

}
.green {
    background-color: green;
    box-shadow: 0px 0px 98px 10px green;

}
.yellow {
    background-color: yellow;
    box-shadow: 0px 0px 98px 10px yellow;

}