.main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 3rem 2rem;
  min-height: 100vh;
  width: clamp(320px, 100%, 1000px);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main {
    padding: 3rem 4rem;
  }
}

.routerSection {
  width: 100%;
  height: 100%;
}

.routesList {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8rem;
  gap: 20px;
}

.routesList li {
  height: 100px;
  width: 300px;
}