.main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 100vh;
}

.routesList {
  list-style: none;
  display: flex;
  margin-top: 8rem;
  gap: 50px;
}
.routesList a{
  padding: 10px 20px;
  background-color: var(--background-00-gray);
}

.routesList a:hover{
  background-color: var(--background-30-gray);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
